<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dbcon" class="com.example.demo.DatabaseConnection" init-method="init" destroy-method="destroy">
    </bean>

    <!-- Bank -->
    <bean id="bank" class="com.example.demo.Bank" scope="singleton">
        <constructor-arg ref="dbcon"></constructor-arg>
    </bean>

    <!-- ATM -->
    <bean id="atm" class="com.example.demo.ATM">
        <constructor-arg ref="bank"></constructor-arg>
    </bean>
</beans>